{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>

    <!-- Link to external CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
</head>

<body>
    <div class="wrapper">
        <h1>Sign In</h1>
        <form action="{% url 'signin' %}" method="POST">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> Remember Me</label>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="register-link">
                <p>Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
            </div>
        </form>
    </div>


    <!-- jQuery (Required for the script) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Owl Carousel (If you are using it) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<!-- Font Awesome (For icons) -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

<!-- Link to your custom JavaScript file -->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
